@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes signal-appear {
  0% {
    transform: translateY(100%);
  }
  15% {
    transform: translateY(0);
  }
  85% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes draw-line {
  to {
    stroke-dashoffset: 0;
  }
}